
.card-img-top {
    height: 200px;  /* Ajuste selon le besoin */
    object-fit: cover; /* Recadre sans déformer */
}




/* Add Student */
.add-student i{
    font-size: 40px;
  }
  .add-student-btn{
    width: 85px;
    padding: 18px;
    margin-left: 45px;
    position: relative;
  }
  .add-student-btn:hover .text-add-stud-btn{
    opacity: 1;
  }
  .add-student{
    width: 80%;
    margin-left: 50px;
    display: flex;
    justify-content: end;
  }
  .text-add-stud-btn{
    position: absolute ;
    background-color:#5491c0;
    width: 220px;
    padding: 15px 0 0px 8px;
    opacity: 0;
    border-radius: 18px;
    transition: opacity 1s ease;
    cursor: pointer;
  }

.card-student-bottom{
   display: flex;
   justify-content: end;
   align-items: center;
}
.card-student-bottom .fa-trash{
    color: rgb(245, 19, 19);
    font-size: 18px;
    cursor: pointer;
    transition: all .5s ease;
}
.card-student-bottom .fa-trash:hover{
    transform: scale(1.2);
}

.msg-no-student{
  text-align: center;
  margin: 50px auto;
  font-size: 22px;
}