<div class="container">
    <div class="row d-flex justify-content-center align-items-center mb-5 ">
        <div class="card col-6  description" >
            <div class="card-body d-flex flex-column">
              <h5 class="card-title my-2 text-center">{{depotRapportStageSelectionne?.titre}}</h5>
              <!-- le flex pour que la description s'étire pour remplir l'espace et éviter les décalages -->
              <p class="card-text flex-grow-1 my-2 " >{{depotRapportStageSelectionne?.description}}</p>
              <hr class="my-5">
              <div class="icon-container">
                <i class="fa-solid fa-eye"></i>
                <i class="fa-solid fa-comment" (click)="voirEvaluation()"></i>
                <i class="fa-solid fa-download "></i>
              </div>
              <p class="card-text date-soumission mt-auto"><small class="text-muted">Date de soumission: {{depotRapportStageSelectionne?.submissionDate | date :'dd/MM/yyyy : hh:mm'}}</small></p>
              <p class="statutRapport">statut du rapport : <span [ngStyle]="{'color' : getColorSelonStatut(depotRapportStageSelectionne?.statut)}" >{{depotRapportStageSelectionne?.statut}}</span></p>
            </div>
          </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <h5 class="text-center">{{ etudiants?.length==1 ? "L'étudiant qui a efféctué ce stage est " : "Les étudiants qui ont efféctué ce stage sont"}}</h5>
       @for (etud of etudiants; track $index) {
        <div class="card col-lg-3 col-md-4 col-sm-6 studentsDep" >
          <div class="image">
            <img [src]="etud.imageUrl" class="card-img-top" [alt]="etud.nom" >
          </div>
            <div class="card-body">
              <h5 class="card-title">{{etud.prenom}} {{etud.nom}}</h5>
              <table class="table table-bordered">
               <tbody>
                <tr>
                    <td>email</td>
                    <td>{{etud.email}}</td>
                </tr>
                <tr>
                    <td>filière</td>
                    <td>{{etud.filiere}}</td>
                </tr>
                <tr>
                    <td>année d'étude</td>
                    <td>{{etud.anneeEtude}}</td>
                </tr>
               </tbody> 
              </table>
            </div>
          </div>
       }
    </div>
</div>




<div class="modal" tabindex="-1" #voirevaluation>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Evaluation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModalShowEval()"></button>
      </div>

      <div class="modal-body">
        @if(evaluationOfDepotSelectionne==null){
          <p>No evalation added yet</p>
        }@else{
          <table class="table bordered-table">
            <tbody>
              <tr>
                <td>NOTE</td>
                <td>{{evaluationOfDepotSelectionne.note}}</td>
              </tr>
              <tr>
                <td>COMMENTAIRE</td>
                <td>{{evaluationOfDepotSelectionne.comment}}</td>
              </tr>
            </tbody>
          </table>
        }
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModalShowEval()">Close</button>
      </div>
    </div>
  </div>
</div>