<div class="container">
  <div class="row m-5 "> 
    @if(listDepotsRapport.length!=0){
     @for (depotRapport of listDepotsRapport; track $index) {
       <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
       <div class="card h-100 " >
         <div class="card-body d-flex flex-column">
           <h5 class="card-title">{{depotRapport.titre}}</h5>
           <!-- le flex pour que la description s'étire pour remplir l'espace et éviter les décalages -->
           <p class="card-text flex-grow-1">{{depotRapport.description}}</p>
           <hr>
           <div class="icon-container">
             <i class="fa-solid fa-eye"></i>
             <i class="fa-solid fa-user" [routerLink]="['/details-etudiant',depotRapport.id]"></i>
             <i class="fa-solid fa-comment" (click)="voirEvaluationOpenModal(depotRapport.id)"></i>
             <i class="fa-solid fa-download"></i>
           </div>
           <p class="card-text date-soumission mt-auto"><small class="text-muted">Date de soumission: {{depotRapport.submissionDate | date :'dd/MM/yyyy : hh:mm'}}</small></p>
           <p>statut du rapport : <span [ngStyle]="{'backgroundColor' : getColorSelonStatut(depotRapport.statut)}" style="color: #fff;padding: 4px;" class="rounded">{{depotRapport.statut}}</span></p>
         </div>
       </div>
     </div>
     }
    }@else {
     <p>Aucun Dépot de Rapports Trouvé</p>
    }
   
   </div>
</div>



<div class="modal" tabindex="-1" #evaluationmodal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Evaluation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        @if(evaluationDepotSelectionne === undefined || evaluationDepotSelectionne===null){
          <p>No Evaluation Yet !!</p>
        }@else {
          <table class="table brdered my-4">
            <tbody>
              <tr>
                <td>Note</td>
                <td>{{evaluationDepotSelectionne.note}}</td>
              </tr>
              <tr>
                <td>Comment</td>
                <td>{{evaluationDepotSelectionne.comment}}</td>
              </tr>
            </tbody>
          </table>
        }
      </div>
      <div class="modal-footer">
        @if(evaluationDepotSelectionne === undefined || evaluationDepotSelectionne===null){
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary">Add Evaluation</button>
        }@else {
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        }
      </div>
    </div>
  </div>
</div>