.container{
  position: relative;
}
.menu{
  position: absolute;
  position: fixed;
  left: -25px;
  top:40%;
  z-index: 1000;
}
.menu ul i{
  font-size: 35px;
  color: #7497d2;
  cursor: pointer;
  transition: all .5s ease;
}
.menu .icone-desc{
  position: absolute;
  top: 0;
  left:50%;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity .5s ease;
  z-index: 100;
  font-size: 18px;
}
.menu ul li:hover i{
  color:#4be4ff;
  transform: scale(1.5);
}
.menu ul li:hover .icone-desc{
  opacity: 1;
}
.menu ul li:hover{
  animation: none;
}
.menu ul{
  list-style: none;
}
.menu ul li{
  margin: 8px;
  padding: 8px;
  position: relative; /*nécessaire pour positionner les icone-desc*/
}
.li-home{
  animation:li-annim-home 3s infinite ;
}
@keyframes li-annim-home{
  0%{
    transform:scale(1);
  }
  50%{
    transform: scale(0.6);
  }
  100%{
    transform: scale(1);
  }
}


.li-rapports,.li-students{
  animation:li-annim-rapports-students 3s infinite ;
}
@keyframes li-annim-rapports-students{
  0%{
    transform:scale(0.6);
  }
  50%{
    transform: scale(1)
  }
  100%{
    transform: scale(0.6);
  }
}





@media (min-width:1000px){
  .menu ul i{
    font-size: 65px;
    color: #7497d2;
    cursor: pointer;
    transition: all .5s ease;
  }
}
@media (max-width:960px){
  .container{
    margin-left:100px ;
  }
  .menu ul i{
    font-size: 80px;
    color: #7497d2;
    cursor: pointer;
    transition: all .5s ease;
  }
}