.dashboard-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  
.sidebar {
    width: 250px;
    background-color: #CEDDDE;
    color: #43A3DB;
    padding: 20px;
    position: fixed;
    height: 100vh;
  }
  
  .sidebar-title {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }

   
  
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .nav-item:hover {
    background-color: #9CD2D5;
  }
  
  .nav-item .icon {
    margin-right: 10px;
    font-size: 1.2rem;
  }


  /* Pour le router-outlet*/
  .content{
    flex-grow: 1; /* Permetrre au contenu de router-oulet de prndre tout l'espace restant*/
  }